@charset="utf-8";
.footer-c{
	width:1905px;
	height:281px;
}
.footer{
	width:1226px;
	height:281px;
	margin:0 auto;
}
.serve{
	width:1226px;
	height:63px;
	padding-top:31.5px;
	background-color:#FFF;
	border-bottom:1px solid #b0b0b0;
}
.serve li{
	float:left;
	text-align:center;
	width:244.4px;
	border-right:1px solid #b0b0b0;
	background-color:#FFF;
}
.serve li a:hover{
	color:#f60;
}
.serve li a{
	color:#616161
}

.serve li i{
	font-size:25px;
	vertical-align:middle;
}
.serve li span{
	vertical-align:middle;
}
.links{
	float:left;
	margin-top:40px;
	width:1226px;
	height:145px;
}
.links dl{
	float:left;
	text-align:left;
	width:163px;
	height:115px;
	font-size:12px;
}
.links dt{
	font-size:14px;
	margin-bottom:20px;
}
.links dd{
	line-height:27px;
	color:#b0b0b0;
}
.links dd:hover{
	color:#f60;
}
.links .touch{
	float:right;
	width:246px;
	font-size:12px;
	text-align:center;
}
.links .touch h3{
	font-size:20px;
	color:#f60;
}
.links .touch a{
	display:block;
	width:125px;
	height:30px;
	line-height:30px;
	padding:0 5px;
	margin:20px auto 0;
	border:1px solid #f60;
	color:#f60;
	transition:.4s;
}
.links .touch a:hover{
	background-color:#f60;
	color:#fff;
}
.end{
	width:1905px;
	height:230px;
	padding-top:20px;
	background-color:#f5f5f5;
}
.end-c{
	position:relative;
	width:1226px;
	height:230px;
	margin:auto;
}
.end-c .logo{
	float:left;
	width:80px;
	height:180px;
}
.end-c .end-r-c{
	float:left;
	width:1100px;
	height:160px;
}
.end-c .end-r-c li{
	float:left;
}
.end-c .end-r-c ul a{
	font-size:12px;
	color:#b0b0b0;
}
.end-c .end-r-c ul a:hover{
	color:#f60;
}
.end-c .end-r-c ul span{
	font-size:12px;
	color:#b0b0b0;
}
.end-c .end-r-c ul:nth-of-type(1) a{
	font-size:12px;
	color:#757575;
}
.end-c .end-r-c ul:nth-of-type(1) a:hover{
	color:#f60;
}
.end-c .end-r-c ul:nth-of-type(1) span{
	font-size:12px;
	color:#757575;
	margin:0 5px;
}
.end-c .end-r-c ul:last-child li{
	float:left;
}
.end-c .end-r-c ul:last-child a{
	display:block;
	width:90px;
	height:30px;
}
.end-c .end-r-c ul:last-child img{
	width:90px;
	height:30px;
}
.end-c .end-footer{
	position:absolute;
	bottom:20px;
	width:1226px;
	height:40px;
	background:url("../images/slogan2016.png") no-repeat center center;
}