@charset="utf-8";
.m-w{
	position:relative;
	z-index:29;
}
.logo{
	overflow:hidden;
	width:100px;
	height:100px;
}
.logo a{
	display:block;
	width:55px;
	margin-top:22.5px;
}
.logo a img{
	display:block;
	width:55px;
	height:55px;
}
.nav-list{
	width:650px;
	margin-top:10px;
	margin-left:80px;
}
.nav-list>ul>li{
	float:left;
	height:80px;
	line-height:80px;
	
}
.nav-list>ul>li>a{
	display:block;
	padding-right:12px;
	padding-left:12px;
}
.nav-list>ul>li>a:hover{
	color:#f60;
}
.search{
	margin-top:22.5px;
	font-size:0;
}
.search input{
	vertical-align:middle;
	width:210px;
	height:48px;
	padding-left:15px;
	padding-right:15px;
	border:none;
	border:1px solid #b0b0b0;
	outline:0;
}
.search .search-text{
	font-size:14px;
}
.search .search-submit{
	position:relative;
	vertical-align:middle;
	width:50px;
	height:50px;
	border-left:none;
	cursor:pointer;
}
.search .search-submit:hover{
	background-color:#F60;
}
.search .example{
	position:absolute;
	text-align:right;
	right:58px;
	top:37px;
	width:130px;
	height:20px;
	line-height:20px;
	z-index:1;
}
.search .example a{
	font-size:12px;
	margin-left:15px;
	background-color:#b0b0b0;
}
.search .example a:hover{
	color:#fff;
	background-color:#f60;
}
.search .search-text:focus+.search-submit+.example{
	display:none;
}
.search .hot{
	display:none;
	position:absolute;
	right:50px;
	top:73px;
	font-size:12px;
	width:240px;
	border:1px solid red;
	border-top:none;
	background-color:#FFF;
}
.search .hot li a{
	display:block;
	line-height:30px;
	padding-left:15px;
}
.search .hot li:hover{
	background-color:#fafafa;
}
.search .search-text:focus{
	border:1px solid red;
}
.search-text:focus+.search-submit{
	border:1px solid red;
	border-left:none;
}
.search .search-text:focus~.hot{
	display:block;
}
.nav-list-submenu{
	overflow:hidden;
	position:absolute;
	left:-347px;
	top:100px;
	width:1920px;
	height:0;
	background-color:#fff;
	box-shadow:0 15px 5px -15px;
	
	transition:.3s;
}
.nav-list>ul>li:nth-child(n):hover .nav-list-submenu{
	width:1920px;
	height:218px;
	border-top:1px solid #ccc;
}
.nav-list-submenu .wrap{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	width:1226px;
	background-color:#fff;
}
.nav-list-submenu .wrap li{
	position:relative;
	float:left;
	text-align:center;
	width:204.3px;
	line-height:25px;
	font-size:12px;
}
.nav-list-submenu .wrap li:nth-child(n):after{
	position:absolute;
	right:0;
	top:30px;
	content:"";
	height:118px;
	border-left:1px solid #b0b0b0;
}
.nav-list-submenu .wrap li:nth-child(6):after{
	border:none;
}
.nav-list-submenu .wrap a:nth-child(1){
	display:block;
	width:160px;
	margin:30px auto 0;
	
}
.nav-list-submenu .wrap a:nth-child(1) img{
	width:160px;
	height:110px;
}
.nav-list-submenu .wrap li p{
	margin-bottom:20px;
}
.nav-list-submenu .wrap li span{
	color:#f60;
}